


body {
    background-image: url("makanan.jpg");
  }
  .bungkus{ display: flex;} 
  .text{ background-color:blanchedalmond;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }
 .center text {
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
  }


.form { background-color:burlywood;}
.form{width:20%;}